*,
::before,
::after,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  outline: none;
  text-underline-offset: 3px;
}

a img {
  border: none;
  outline: none;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
  appearance: button;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

code,
pre,
pre span,
kbd,
samp {
  font-family: "Google Sans Code", ui-monospace, monospace;
  font-size: 1em;
}

[hidden] {
  display: none;
}

i,
em {
  font-style: italic;
}

p {
  max-width: 75ch;
}
