---
import "../styles/myDefault.css";
import "../styles/global.css";
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border-radius: 5px;
  }

  @media (prefers-color-scheme: dark) {
    a {
      border: 1.5px solid white;
    }
  }
</style>