---
import "../styles/myDefault.css";
import "../styles/global.css";

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target='_blank'>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    border-radius: 5px;
  }

  html.dark a {
    border: 1.5px solid white;
    color: white;
  }
</style>